/* HeroSection.css */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #f9f9f9;
    height: 100vh;
    background-color: #E6E6FA;
  }
  
  .hero-text {
    max-width: 50%;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #202e43;
  }
  
  .hero-text p {
    font-size: 1.25rem;
    margin-bottom: 20px;
    color: #4f4f4f;
  }
  
  .hero-button {
    background-color: #ff8b00;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .hero-image {
    max-width: 50%;   
  }

  .hero-image img {
    max-width: 100%;
    height: auto;

  }
  