body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

p{
  
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}

.review-section {
  text-align: center;
  padding: 135px 0;
  background-color: #fff;
}

.review-section h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.review-section p {
  color: #777;
  margin-bottom: 40px;
  font-size: 16px;
}

.review-slider {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.review-card {
  background-color: white;
  color: white;
  padding: 20px;
  margin: 0 10px;
  border-radius: 10px;
  min-width: 300px;
  flex: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.review-info {
  text-align: left;
}

.review-rating {
  color: #fbc02d;
  font-size: 18px;
  margin-bottom: 5px;
}

.review-date {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 10px;
}

.dots {
  text-align: center;
  margin-top: 20px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}
